body{
    background-color: rgba(226, 43, 217, 0.5);
}

h1{
    color:hotpink;
    border:double;
}

.título{
    color:aliceblue;
    text-align:center;
}
button{
color: honeydew;
font: size 50px;
}

.imagem-uniiii{
    color: rgb(255, 255, 255);
  border: double;  
}